

.merriweather-normal{
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.title-img{
  margin-bottom: 120px;
    
}
.vector-img{
    margin-top: 120px;
    margin-left: 140px;
    margin-right:140px ;
    margin-bottom: 120px;   
}
.section1{
background-image: url('../images/Banner\ Image.png');
background-repeat: no-repeat;
width: 1300px;
height: 600px;
margin: auto;
border-radius: 16px;
text-align: center;
justify-content: center;


}
.section2{
align-items: center;
text-align: center;
margin: auto;
padding: 175px 350px 175px 350px;
line-height: normal;
}
.section3{
    font-size: 32px;
    font-weight: 100px;
    color: #FFFFFF;
}
.section1-head{
     color: #FFFFFF;
    font-weight: 600;
    font-size: 64px;
    text-align: justify;
    text-align: center;
}
.section1-hed{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 64px;
    text-align: justify;
}
.section1-des{
    font-size: 18px;
    color: #FFFFFF;
    text-align: justify;
    align-items: center;
}
.btn-2{
font-size: 20px;
font-weight: bold;
color: #FFFFFF;
background-color: #000000;

}
.section-2{
    background-image: url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    width: 1300px;
    height: 600px;
   margin: auto;
}
.section2-sub{
 align-items: center;
 justify-content: center;
 text-align: center;
 margin-top: 120px;
 margin-bottom: 120px;
 padding: 126px 550px 300px 126px;   
}
.section-header{
    text-align: center;
    margin-top: 120px;
    margin-bottom: 120px;
   
}
.section-title{
    font-weight: bold;
    font-size: 88px;
    color: #FF0000;
    margin: 0 200px 50px 200px;
}
.section-description{
    font-weight: 400PX;
    font-size: 24px;
    color: #FF0000;
    margin-bottom: auto;
}
.header-2{
   font-weight:bold;
    font-size: 48px;
    color: #070211; 
}
.section-img{
    margin-top: auto;
}
.bg-color{
    background-color: #e4b8b8e6;
    border: 1px solid #000000;
    border-radius: 15px;
    text-align: center;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin:auto;
    width: 1320px;
    height: 450px;
    padding: 80px 0 50px 0;
    
}
.div-size{
    
    align-items: center;
    justify-content: center;
    
}
.h4-title{
    font-weight: 600px;
    font-size: 32px;
}
span{
    color: #FF0000;
}
.btn-primary{
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 8px;
    border: none;
}
.section-hed{
    display: flex;
    width: 1300px;
    justify-content: center;
    align-items: center;
    gap: 25px;
    
}
.sec-header{
    justify-content: center;
    gap: 70px;
    height: 460px;
    display: flex;
    align-items: center;
}
.div-hed{
    font-weight: 600px;
    font-size: 24px;
    color: #FF0000;
    margin: 0%;
  
}
.div-main-hed{
    font-weight: bold;
    font-size: 48px;
    color: #070211;
}
.div-main-heed{
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
}
.ima-ell{
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 10px solid #FF0000;
    padding: 10px;
}
.section-chil{
    text-align: center;
    justify-content: center;
    align-items: center;
}
.holi-header{
    align-items: center;
    justify-content: center;
    width: 1300px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
     
}
.holi-hed{
   text-align: center;
    justify-content: center;
    align-items: center; 
    height: 950px; 
    margin-top: 120px;
    margin-bottom: 140px;
   
}
.holi-main{
    align-items: center;
}
.box{
    margin-bottom: 0px;
}
.rectanle{
    margin-top: 0px;
    margin-bottom: 120px;
}
.group{
    margin-bottom: 0px;
}
.holi-sub-title{
    font-weight: 600;
    font-size: 24px;
    color: #070211;
    margin-bottom: 0%;
}
.holi-title{
    font-weight: bold;
    font-size: 72px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.holi-last{
    color: #070211;
}
.holi{
    color: #FF0000;
}
.holi-description{
    text-align: center;
}
.gift-hed{
    margin:40px;
}
.gift{
    width: 1320px;
    height: 1160px;
    align-items: center;
    justify-content: center;
    margin:auto;
    text-align: left;
}
.img-gift{
    padding: 8px 8px;
}
.gift-last{
  width: 424px;
  height: 450px;
  border-radius: 16px;
  padding:auto;
  display: inline-block;
}
.subcribe{
    width: 1300px;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #ebdbdb;
    padding: auto;
    padding-bottom: 10px;
}
.gift-hed{
    margin: auto;
}
.user{
    border: 0px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 72px;
    border-radius: 50px;
    text-align: center;
    margin-left: 22%;   
    background-color:#FFFFFF;
    justify-content: space-between;
}
.paragraph{
    display: flex;
    
}
.s-btn{
    width: 210px;
    height: 72px;
    background-color: #FF0000;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}
.footer{
    width: 1600px;
    height: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: #070211;
    padding: auto;
    padding-bottom: 10px;
    margin-top: 100px; 
    padding: 120px 290px 410px 140px; 
}
.footer-hed{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 24px;
    
    
}
.footer-last{
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 24px;
    padding: 460px 140px 120px 140px;
}
.icons{
margin-top: 200px;
margin-bottom: 1px;
}